<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改用户</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：用户管理-》修改用户信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>用户名称</td>
                    <td><input type="text" name="user_name" value="{$user.username}"/></td>
                </tr>
                
                <tr>
                    <td>用户密码</td>
                    <td><input type="text" name="password" value="{$user.password}"/></td>
                </tr>
                 <tr>
                    <td>邮箱</td>
                    <td><input type="text" name="user_email" value="{$user.user_email}"/></td>
                </tr>
               <tr>
                    <td>性别</td>
                    <td>
                        <input type="radio" name="user_sex" value="1" {if $user.user_sex==1} checked{/if}/>男
                        <input type="radio" name="user_sex" value="2" {if $user.user_sex==2} checked{/if}/>女

                    </td>
                </tr>
                <tr>
                    <td>qq</td>
                    <td>
                        <input type="text" name="user_qq" value="{$user.user_qq}"/>

                    </td>
                </tr>
                 <tr>
                    <td>手机号</td>
                    <td><input type="text" name="user_tel" value="{$user.user_tel}"/></td>
                </tr>
                 <tr>
                    <td>创建时间</td>
                    <td>{date('Y-m-d H:i',$user.user_time)}</td>
                </tr>
               <input type="hidden" name="user_time" value="{$user.user_time}"/>
             
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="修改">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>