<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>花店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{$smarty.const.CSS_URL}templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{$smarty.const.CSS_URL}orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{$smarty.const.CSS_URL}nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}ddsmoothmenu.css" />

<script type="text/javascript" src="{$smarty.const.JS_URL}jquery.min.js"></script>


<script type="text/javascript" src="{$smarty.const.JS_URL}ddsmoothmenu.js">
/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
    mainmenuid: "templatemo_menu", //menu DIV id
    orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
    classname: 'ddsmoothmenu', //class added to menu's outer DIV
    //customtheme: ["#1c5a80", "#18374a"],
    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>
<style type="text/css">
    table th{ text-align: center;}
    table tr{ text-align: center;}
</style>
</head>

<body>

<div id="templatemo_wrapper_sp">
{include file="../head1.html"} <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
     {include file="../left.html"}

    <div id="content" class="right">
        <h2>我的订单</h2>
         <hr style="width:670px"></hr> 
           {foreach $order_dz as $k=>$v}
        <table width="680" border="0" cellpadding="5" cellspacing="0">
             <tr><th >收货人:</th> 
             <th >{$v.goods_user}</th> 
            <th >电话:</th> 
            <th >{$v.goods_user_tel}</th> 
            <th >下单时间:</th> 
            <th >{date('Y-m-d H:i',$v.order_time)}</th> 
            
            <th >邮寄地址:</th> 
            <th >{$v.province}{$v.city}{$v.piecearea}{$v.order_addr}</th> 
        </tr>
    </table>
             
          
           <table width="680" border="0" cellpadding="5" cellspacing="0">
                   

                        <tr>
                            
                        <th width="58" align="left">商品图片</th> 
                        <th width="88" align="left">商品名字</th> 
                        <th width="90" align="center">购买数量</th> 
                        <th width="80" align="right">市场价</th> 
                        <th width="80" align="right">优惠价</th> 
                           
                        </tr>
                   
                     {foreach $orders as $k1=>$v1}
                     {if $v1.order_id==$v.order_id}
                        <tr>
                           
                            <td><a href=""><img src="{ltrim($v1.goods_small_img,'.')}"  width="30"/></a></td>
                            <td>{$v1.goods_name}</td>
                            <td>{$v1.goods_num}</td>
                            <td>{$v1.goods_price}</td>
                            <td>{$v1.shop_price}</td>
                          
                        </tr>
                        {/if}
                    {/foreach} 
            </table>
          
             <div align="right" style="font-weight:bold;font-size:14px;">总价:{$v.total}元</div> 
             <hr style="width:670px"></hr> 
         
           {/foreach} 
        </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->
{include file="../foot.html"}<!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='{$smarty.const.JS_URL}logging.js'></script>
</html>