<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>花店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{$smarty.const.CSS_URL}templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{$smarty.const.CSS_URL}orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{$smarty.const.CSS_URL}nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}ddsmoothmenu.css" />

<script type="text/javascript" src="{$smarty.const.JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{$smarty.const.JS_URL}cart1.js"></script>

<script type="text/javascript" src="{$smarty.const.JS_URL}ddsmoothmenu.js">
/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
    mainmenuid: "templatemo_menu", //menu DIV id
    orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
    classname: 'ddsmoothmenu', //class added to menu's outer DIV
    //customtheme: ["#1c5a80", "#18374a"],
    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>

</head>

<body>

<div id="templatemo_wrapper_sp">
{include file="../head1.html"} <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
     {include file="../left.html"}

    <div id="content" class="right">
    	<h2>购物车</h2>
		<table width="700" border="0" cellpadding="5" cellspacing="0">
          	<tr bgcolor="#395015">
                <th width="58" align="left">商品图片</th> 
                <th width="88" align="left">商品名字</th> 
                <th width="90" align="center">购买数量</th> 
                <th width="80" align="right">市场价</th> 
                <th width="80" align="right">优惠价</th> 
                <th width="80" align="right">总价</th> 
                <th width="64"> </th>
          	</tr>
            
            {foreach $data as $k=>$v}
    
            <tr bgcolor="#41581B" goods_id="{$v.goods_id}">
                <td><img src="{ltrim($v.goods_small_img,'.')}" alt="flower" width="30"/></td> 
                <td>{$v.goods_name}</td> 
                <td align="center">
                <a href="javascript:;" class="reduce_num"></a>
                    <input name="amount" type="text" id="quantity1"  class="amount" value="{$v.goods_num}" size="4" maxlength="3" /> 
                <a href="javascript:;" class="add_num" ></a>
                </td>
                <td align="right">{$v.goods_price}</td> 
                <td align="right" class="col3">{$v.shop_price}</td> 
                <td align="right" class="col5">{$v.shop_price*$v.goods_num}</td>
                <td align="center"> <a href="{$smarty.const.__CONTROLLER__}/delCart/goods_id/{$v.goods_id}"><img src="{$smarty.const.IMG_URL}remove.png" alt="remove" /><br /></a> </td>
            </tr>
            
        {/foreach}
<tr bgcolor="#41581B">
                <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$smarty.const.__MODULE__}"><strong>继续购物 </strong></a> &nbsp;&nbsp;</td>
                <td align="right"><h4>总价格:</h4></td>
                <td align="right" id="total"><h4>{$tp}&nbsp;&nbsp;RMB</h4></td>
                <td> </td>
            </tr>
        </table>
		<div class="cleaner h20"></div>
        <div class="right"><a href="{$smarty.const.__CONTROLLER__}/addresslist" class="button">去结算</a></div>
        <div class="cleaner h20"></div>
        <div class="blank_box">
        	<a href="#"><img src="{$smarty.const.IMG_URL}free_shipping.jpg" alt="Free Shipping" /></a>
        </div>    
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->
{include file="../foot.html"}<!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='{$smarty.const.JS_URL}logging.js'></script>
</html>