<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>花店</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{$smarty.const.CSS_URL}templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{$smarty.const.CSS_URL}orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{$smarty.const.CSS_URL}nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_URL}ddsmoothmenu.css" />

<script type="text/javascript" src="{$smarty.const.JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{$smarty.const.JS_URL}ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>


</head>

<body>

<div id="templatemo_wrapper_sp">
{include file="../head1.html"} <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	 {include file="../left.html"}
    
    <h2 align="center">反馈与建议</h2>
		<form method="post" 

action="{$smarty.const.__MODULE__}/Leavewords/addLeavewords">
		<table align='center' id='leavewords_table' >
			<tr>
				<th colspan="2">&nbsp;</th>
				
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size:25px;">尊姓大名：</td>
				<td><input type="text" 

name="user_name" /></td>
			</tr>
<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><input type="radio" 

name="type" value="反馈" /> 反馈<input type="radio" name="type" 

value="建议" checked="checked"/> 建议</td>
			</tr>
<tr>
				<td>&nbsp;</td>
			</tr>	
			<tr>
				<td style="font-size:25px;">内容：</td>
				<td><textarea name="centent" 

cols="50" autofocus="true" rows="5"></textarea></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="font-size:25px;">联系电话：</td>
				<td><input type="text" 

name="phone" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td clospan="2" style="text-

align:center;"	>	<input type="submit" name="submit" 

value="提交"></td>
			</tr>
		</table></form>	
        <div class="cleaner h20"></div>
    	<div class="blank_box">
        	<a href="#"><img src="{$smarty.const.IMG_URL}free_shipping.jpg" alt="Free Shipping" /></a>
        </div>    
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

{include file="../foot.html"}<!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='{$smarty.const.JS_URL}logging.js'></script>
</html>