<div id="templatemo_header_wsp">
     <div class="shop_hd_topNav">
            <div class="shop_hd_topNav_all">
    <div class="shop_hd_topNav_all_left">
                    <div>您好，欢迎来到<b>NO.5の花店</b>
                    {if isset($smarty.session['username'])}
                        用户名:  {$smarty.session['username']}
                        [<a href="{$smarty.const.__MODULE__}/user/logout">注销</a>]
                    {else}
                        [<a href="{$smarty.const.__MODULE__}/user/login">登录</a>][<a href="{$smarty.const.__MODULE__}/user/register">注册</a>]{/if}</div>
                </div>
                <div class="shop_hd_topNav_all_right">
                <div class="topNav_quick_menu">

                            <div class="topNav_menu">
                                <a href="{$smarty.const.__MODULE__}/Orders/showOrder" class="topNavHover">已买到的商品<i></i></a>
                              
                            </div>

                           

                            <div class="topNav_menu">
                                <a href="{$smarty.const.__MODULE__}/buy/cartlist" class="topNavHover">购物车<i></i></a>
                               
                            </div>
  
                          

                </div></div>
                <!-- Header TopNav Right End -->
            </div>
                    </div>
    <div id="templatemo_header" class="header_subpage">
        <div id="site_title"><a href="" title=""></a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="{$smarty.const.__MODULE__}" >主页</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/19" >情人节</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/21">生日鲜花</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/32" >精致花篮</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/34" >玫瑰</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/35" >康乃馨</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/26" >家居鲜花</a></li>
                <li><a href="{$smarty.const.__MODULE__}/list/index/category_id/28" >商务礼仪</a></li>
            </ul>
            <div id="templatemo_search">
                <form action="{$smarty.const.__MODULE__}/goods/search/" method="get">
                    <input type="text" value="Site Search" name="keyword" id="keyword" title="keyword" 
                            onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                    <input type="submit" name="Search" value="" alt="Search" id="searchbutton" title="Search" class="sub_btn" />
                </form>
            </div>
            <br style="clear: left" />
        </div> 
        
        <!-- end of templatemo_menu -->
        
    </div> <!-- END of header -->
</div> 