<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>订单列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{
                background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：订单管理-》订单列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/add">【添加订单】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div class="div_search">
            <span>
                <form action="{$smarty.const.__CONTROLLER__}/search" method="post">
                    订单ID&nbsp;<input type="text" name="order_id" style="width:90px"/>
                    <input value="查询" type="submit" />
                </form>
            </span>
        </div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>订单ID</td>
                        <td>收货人姓名</td>
                        <td>收货人电话</td>
                        <td>省份</td>
                        <td>城市</td>
                        <td>地区</td>
                        <td>详细地址</td>
                        <td>会员ID</td>
                        <td>订单提交时间</td>
                        <td>订单总价</td>
                        
                        <td align="center" colspan="2">操作</td>
                    </tr>
                    {foreach $orders as $k=>$v}
                    <tr id="product1">
                        <td>{$v.order_id}</td>
                        <td>{$v.goods_user}</td>
                        <td>{$v.goods_user_tel}</td>
                        <td>{$v.province}</td>
                        <td>{$v.city}</td>
                        <td>{$v.piecearea}</td>
                        <td>{$v.order_addr}</td>
                        <td>{$v.user_id}</td>
                        <td>{date('Y-m-d H:i',$v.order_time)}</td>
                        <td>{$v.total}</td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/orderlist/order_id/{$v.order_id}">订单详情</a></td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/del/order_id/{$v.order_id}" onclick="javascript:return confirm('您确认要删除这条记录吗?')">删除</a></td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>