<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加商品分类</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：商品分类管理-》添加商品分类</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>商品分类名称</td>
                    <td><input type="text" name="cat_name" /></td>
                </tr>
                <tr>
                    <td>商品父类</td>
                    <td>
                        <select name="parent_id">
                            <option value="0">顶级分类</option>
                            {foreach $par_info as $v}
                            <option value="{$v.cat_id}">-{$v.cat_name}-</option>
                           {/foreach}
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否展示</td>
                    <td>
                        <select name="is_show">
                            <option value="1">是</option>
                            <option value="0">否</option>
                            
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="添加">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>