<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改商品</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：商品管理-》修改商品信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="goods_id" value="{$info.goods_id}"/>
            <table border="1" width="100%" class="table_a">
                <tr>
                    <td>商品名称</td>
                    <td><input type="text" name="goods_name"  value="{$info.goods_name}"/></td>
                </tr>
                
                <tr>
                    <td>商品价格</td>
                    <td><input type="text" name="goods_price" value="{$info.goods_price}"/></td>
                </tr>
                <tr>
                    <td>商品价格</td>
                    <td><input type="text" name="shop_price" value="{$info.shop_price}"/></td>
                </tr>
               <tr>
                    <td>商品数量</td>
                    <td><input type="text" name="goods_number" value="{$info.goods_number}"/></td>
                </tr>
                <tr>
                    <td>商品种类</td>
                    <td>
                        <select name="goods_category_id">
                            <option value="0">--请选择--</option>
                            {foreach $cats as $v}
                            <option value="{$v.cat_id}"
                            {if $v.cat_id==$info.goods_category_id}selected="selected"{/if}
                            >{$v.cat_name}</option>
                            {/foreach}
                        </select>

                    </td>
                </tr>
                 <tr>
                    <td>商品图片</td>
                    <td><input type="file" name="goods_img" />{$info.goods_big_img}</td>
                </tr>
                 <td>商品热销</td>
                    <td>
                         <select  name="is_hot">
                            <option value="0" {if $info.is_hot==0}selected="selected"{/if}>否</option>
                            <option value="1" {if $info.is_hot==1}selected="selected"{/if}>是</option>
                        </select>
                    </td>
                <tr>
                    <td>商品详细描述</td>
                    <td>
                        <textarea name="goods_introduce">{$info.goods_introduce}</textarea>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="修改">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>